body {
    background-color: #cccccc;
}

.text-indent-first-line {
    text-indent: 2em;
}

.btn,
.btn-primary {
    color: #000000 !IMPORTANT;
    background-color: #99b3ff !IMPORTANT;
    border-color: #000000 !IMPORTANT;
    margin-right: 5px !IMPORTANT;
}

.btn:hover,
.btn-primary:hover {
    background-color: #668cff !IMPORTANT;
}

.borda-login {
    border: solid 3px #e0e0e0;
    padding: 1em 1em 1em 1em;
    border-radius: 5px;
}

.text-red {
    color: #ff0000;
}